PORT=4000
CLIENT_URL=http://localhost:5173
JWT_SECRET=change_me

DB_HOST=localhost
DB_PORT=5432
DB_NAME=sklep_db
DB_USER=postgres
DB_PASSWORD=postgres

STRIPE_SECRET_KEY=sk_test_51TY7VzE9zvifIGEgEU8DIsynOQhfglS6WSn6FjCbNIUdSxGyeYzkrtZlrDkE8HmKjHrOpJd1ipsXDhJIsqc4EY4Q00dWggnhZE
